:host,
ion-tabs {
  position: relative;
  height: 100%;
}

ion-router-outlet {
  position: relative;
  z-index: 0;
}

ion-router-outlet > * {
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

ion-tab-bar {
  z-index: 5;
}
