<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="form-wrapper">
    <ion-card class="form-card">
      <ion-card-content>

        <ion-item-divider>
          <ion-label>Dados pessoais</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-input label="Nome completo" label-placement="stacked" placeholder="Digite seu nome" [(ngModel)]="nome">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="E-mail" label-placement="stacked" placeholder="Digite seu e-mail" [(ngModel)]="email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="CPF" label-placement="stacked" placeholder="000.000.000-00" 
            [(ngModel)]="cpf" (ionInput)="maskCPF($event)">
          </ion-input>
        </ion-item>

          <ion-item>
            <ion-input label="Data de nascimento" label-placement="stacked" placeholder="DD/MM/AAAA" 
              [(ngModel)]="dataNascimento" (ionInput)="maskDataNascimento($event)">
            </ion-input>
          </ion-item>

        <ion-item>
          <ion-select label="Gênero" label-placement="stacked" placeholder="Selecione" [(ngModel)]="genero">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="feminino">Feminino</ion-select-option>
            <ion-select-option value="outro">Outro</ion-select-option>
            <ion-select-option value="nao_informado">Prefiro não informar</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Senha" label-placement="stacked" placeholder="Digite sua senha"
            [(ngModel)]="senha">
          </ion-input>
        </ion-item>

        <ion-item-divider>
          <ion-label>Endereço</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-input label="Logradouro" label-placement="stacked" placeholder="Rua, Avenida, etc."
            [(ngModel)]="logradouro">
          </ion-input>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-input label="Número" placeholder="Número" label-placement="stacked" [(ngModel)]="numero">
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="8">
              <ion-item>
                <ion-input label="Bairro" placeholder="Bairro" label-placement="stacked" [(ngModel)]="bairro">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-item>
                <ion-input label="Cidade" placeholder="Cidade" label-placement="stacked" [(ngModel)]="cidade">
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="5">
              <ion-item>
                <ion-select label="Estado" label-placement="stacked" placeholder="UF" [(ngModel)]="estado">
                  <ion-select-option value="AC">AC</ion-select-option>
                  <ion-select-option value="AL">AL</ion-select-option>
                  <ion-select-option value="AP">AP</ion-select-option>
                  <ion-select-option value="AM">AM</ion-select-option>
                  <ion-select-option value="BA">BA</ion-select-option>
                  <ion-select-option value="CE">CE</ion-select-option>
                  <ion-select-option value="DF">DF</ion-select-option>
                  <ion-select-option value="ES">ES</ion-select-option>
                  <ion-select-option value="GO">GO</ion-select-option>
                  <ion-select-option value="MA">MA</ion-select-option>
                  <ion-select-option value="MT">MT</ion-select-option>
                  <ion-select-option value="MS">MS</ion-select-option>
                  <ion-select-option value="MG">MG</ion-select-option>
                  <ion-select-option value="PA">PA</ion-select-option>
                  <ion-select-option value="PB">PB</ion-select-option>
                  <ion-select-option value="PR">PR</ion-select-option>
                  <ion-select-option value="PE">PE</ion-select-option>
                  <ion-select-option value="PI">PI</ion-select-option>
                  <ion-select-option value="RJ">RJ</ion-select-option>
                  <ion-select-option value="RN">RN</ion-select-option>
                  <ion-select-option value="RS">RS</ion-select-option>
                  <ion-select-option value="RO">RO</ion-select-option>
                  <ion-select-option value="RR">RR</ion-select-option>
                  <ion-select-option value="SC">SC</ion-select-option>
                  <ion-select-option value="SP">SP</ion-select-option>
                  <ion-select-option value="SE">SE</ion-select-option>
                  <ion-select-option value="TO">TO</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-input label="CEP" label-placement="stacked" placeholder="00000-000" [(ngModel)]="cep"
            (ionInput)="maskCEP($event)">
          </ion-input>
        </ion-item>

        <ion-button expand="block" shape="round" class="submit-btn">
          Criar Conta
        </ion-button>

        <ion-item lines="none">
          <ion-label class="link-login">
            Já possui conta?
            <a routerLink="/login"> Entrar</a>
          </ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>