<ion-header class="medicos-header">
  <ion-toolbar>
    <ion-title>Médicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="medicos-content">

  <!-- Card roxo topo -->
  <div class="top-card">
    <h2>Nossos Médicos</h2>
    <p>Profissionais qualificados e experientes à sua disposição</p>

    <ion-searchbar placeholder="Buscar médico ou especialidade..." [(ngModel)]="textoBusca"
      (ionInput)="filtrarMedicos()" class="busca-bar"></ion-searchbar>
  </div>

  <h4 class="secao-titulo">Disponíveis para Consulta</h4>

  <!-- lista de médicos -->
  <div class="lista-medicos">
    <div class="medico-card" *ngFor="let medico of medicosFiltrados">
      <div class="medico-card-topo">
        <img [src]="medico.foto" class="medico-foto" />

        <div class="medico-info">
          <h3>{{ medico.nome }}</h3>
          <p>{{ medico.especialidade }}</p>

          <p class="crm">CRM {{ medico.crm }}</p>
        </div>

        <div class="status">
          <span class="badge-status {{ estiloStatus(medico.status) }}">
            {{ medico.status }}
          </span>
        </div>
      </div>

      <ion-button expand="block" class="btn-agendar" routerLink="/tabs/agendar-consulta" >
        Agendar Consulta
      </ion-button>
    </div>
  </div>

</ion-content>